#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
}

.button-container {
  margin-bottom: 20px; /* Adjust this value to your needs */
}

.card {
  padding: 0;
  margin: 0;
  width: 100%;
}

.read-the-docs {
  color: #888;
} 
